# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment files - important: do not commit these!
.env
.env.*
!.env.example
!.example.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# Build artifacts
build/