{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "useTabs": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "endOfLine": "lf"
}
